<div class="section-inner">

    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeIn">
                <h2 class="mb50"><span class="heading-font text-uppercase">Starters</span></h2>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal4.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal1.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal2.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal3.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 wow fadeIn">
                <h2 class="mb50"><span class="heading-font text-uppercase">Main Course</span></h2>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal3.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal5.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal6.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="assets/img/food/meal7.jpg" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
                            <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>